body {
    font-family: arial, sans-serif;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: o;
    overflow: hidden;
}
li {
    float: right;
}

li a {
    display: block;
    text-decoration: none;
    padding: 10px;
}

.googlelogo {
    height: 92px;
    width: 272px;
    max-height: 100%;
    max-width: 100%;
    margin-top: 0 auto;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.searchbox {
    width: 50vw;
    max-width: 500px;
    height: 44px;
    margin-top: 20px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.searchbox:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

.searchbuttons {
    display: inline-block;
    padding: 20px;
    
}

input[type="submit"] {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.footer {
    position: fixed;
    bottom: 0;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    padding: 10px;
}

.push  {
    margin-right: 0px;
}